.popuplogin-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999; /* Ensure the modal is on top of everything */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popuplogin-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align items on the same line with space in between */
    align-items: center;
}

.popuplogin-box .button {
    margin-right: 10px; /* Add margin to the right of the "Go to Login Page" button */
}
  